[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto.git
[submodule "public"]
	path = public
	url = git@github.com:eddiebquinn/eddiebquinn.github.io.git
[submodule "content/sigs"]
	path = content/sigs
	url = git@github.com:eddiebquinn/blog-posts.git
